<html lang="en">
<head>
	
	<title>HubSpot Technical Test</title>
	<meta content='width=device-width,initial-scale=1.0' name='viewport'>
	<% include ../partials/_fonts %>
	<link rel="stylesheet" href="/build/css/styles.css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="/build/js/index.js"></script>
	<!-- List script -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
	<link rel='stylesheet' id='font-awesome-css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css?ver=4.6.1' type='text/css' media='all'/>

<body class="container">

	<% include ../partials/_testimonial %>

	<% include ../partials/_cta %>
	
	<% include ../partials/_filterable-content %>
    
</body>
</html>

