<section id="section-cta">
	<div class="cta-content">
		<p class="cta-left">They were just sucked into space. Earl Grey tea, watercress sandwiches. Are you up for promotion? Could someone survive inside a transporter buffer for 75 years? Sure. Shields up! Rrrrred alert! Well, I'll say this for him - he's sure of himself. When has justice ever been as simple as a rule book? Computer, belay that order. Now we know what they mean by 'advanced' tactical training.</p>
		<a href="#" class="button-right" id="gotchuck">TELL ME MORE</a>
	</div>
</section>



