<section id="filterable-content">
	<div>
		<div>
			<div class="filter">
				<div>
					<div class="fl-lt">
						<span>Genre</span>
						<div></div>
					</div>
					<div class="fl-lt">
						<span>Year</span>
						<div></div>
					</div>
					<div>
						<input type="text" class="search" placeholder="Search" />
					</div>
				</div>
				<div>
					<div class="mvis">
						<input type="checkbox" data-sort="type">
						<label>Movies</label>
					</div>
					<div class="books">
						<input type="checkbox" data-sort="type">
						<label>Books</label>
					</div>
					<div style="float: right"; >
						<a href="#" id="clear-filter">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="movies">
		<div>
			<div>
				<ul class="list"></ul>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	
// For List

var moveiOptions = {
  valueNames: [ 'title', 'year', 'type', 'genre' ]
};
var movieList = new List('movies', moveiOptions);

</script>