<section id="filterable-content">
	<div>
		<div>
			<div class="filter">
				<div>
					<div class="fl-lt">
						<select id="Genre">
							<option value="">GENRE</option>
							<option value="">ACTION</option>
							<option value="">ADVENTURE</option>
							<option value="">HORROE</option>
						</select>
						<div></div>
					</div>
					<div class="fl-lt">
						<select id="Year">
							<option value="">2016</option>
							<option value="">2015</option>
							<option value="">2014</option>
							<option value="">2013</option>
						</select>
						<div></div>
					</div>
					<div>
						<input type="text" class="search" placeholder="Search" />
					</div>
				</div>
				<div>
					<!-- <div class="mvis">
						<input type="checkbox" data-sort="type">
						<label>Movies</label>
					</div>
					<div class="books">
						<input type="checkbox" data-sort="type">
						<label>Books</label>
					</div> -->
					<div style="clear: both; float: right"; >
						<a href="#" id="clear-filter">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="movies">
		<div id="bgfied">
			<div>
				<ul class="list"></ul>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
// ToDo: Integrate Sortability. Should've gone with react.
// var moveiOptions = {
//   valueNames: [ 'title', 'year', 'type', 'genre' ]
// };
// var movieList = new List('movies', moveiOptions);
</script>